<div class="backdrop" (click)="onClose()"></div>
<mat-card class="create-new-task">
  <mat-card-header class="header">
    <mat-card-title *ngIf="!editMode">Create New Task</mat-card-title>
    <mat-card-title *ngIf="editMode">Update New Task</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form class="create-new-task-form" [formGroup]="myForm" (ngSubmit)="submitForm()">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required>
        <mat-error *ngIf="myForm.get('name')?.hasError('required')">Name is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Description" formControlName="description" required></textarea>
        <mat-error *ngIf="myForm.get('description')?.hasError('required')">Description is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select Tags</mat-label>
        <mat-select formControlName="tags" multiple>
          <mat-option *ngFor="let tag of tags$ | async" [value]="tag.id">{{ tag.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Assign Task To</mat-label>
        <mat-select formControlName="assignee" required>
          <mat-option *ngFor="let user of users$ | async" [value]="user.id">{{ user.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select Tasks That Blocks This Task</mat-label>
        <mat-select formControlName="blockedBy" multiple>
          <mat-option *ngFor="let task of tasks$ | async" [value]="task.id">{{ task.id }} - {{ task.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="editMode">
        <mat-label>Switch To Column</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let stat of status" [value]="stat.id">{{ stat.title }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="button-group">
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <button mat-raised-button class="cancel-button" color="warn" type="button" (click)="onClose()">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
