@import "../../../variables.scss";

.tags-bar-background {
  width: 100%;
  background-color: $gray-background;
  position: fixed;
  bottom: 0;
  padding: 5px 0;

  .container {
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    padding-bottom: 20px;

    div {
      text-align: center;
      height: 5px;
    }
  }

  .legends-container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
    display: flex;

    .legend-container {
      width: 200px;
      display: flex;
      align-items: center;
    }

    .legend {
      width: 15px;
      height: 15px;
      margin-right: 10px;
    }
  }
}

.bug {
  background-color: $bug;
}

.feature {
  background-color: $feature;
}

.backend {
  background-color: $backend;
}

.frontend {
  background-color: $frontend;
}

.system {
  background-color: $system;
}
